/*
	fabmat 2016
*/

body{
	position:relative;}
body  h1{
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu";
	font-weight:lighter;}
/* ------------------------------------------------------------- 
		1.scrollbar properties
   -------------------------------------------------------------*/

::-webkit-scrollbar {
   width: 10px;
  
}

::-moz-scrollbar{
	width:10px;}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;

}
 ::-moz-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;

}
::-webkit-scrollbar-thumb {
    cursor: pointer;
  background: #D4B068;
  border-radius: 10px;
}
::-moz-scrollbar-thumb {
    cursor: pointer;
  background: #D4B068;
  border-radius: 10px;
}
/*------------------------------------------------------*/



/*---------------------------------------------------------------------
    2. main top div parallex and nav 
  ---------------------------------------------------------------------*/
	
.jumbotron{
	
	background:no-repeat fixed url(../main-carousal-images/4.png)  ;
	background-size:cover;
	padding:50px 20px;
	height:650px;
	width:auto;
	margin-bottom:0px;
	z-index:1;
	top:auto;
	
	}
.jumbotron .navbar,#header1{
	margin:0px -20px;}

.navbar #signIn{
	background-color:#1ABC9C;
	border-radius:3px;
	font-weight:bold !important;
	}
.navbar  #signIn a:hover{
	color:white !important;
	background-color:#1ABC9C !important;
	}
	
#header1{
	position:absolute;
	background-color:#000;
	opacity:0.8;
	padding:0px 30px;
	width:100%;
	top:7%;
	}
	
#header1 h1{
	color:#fff;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu";
	font-weight:lighter;
}

.inside-h1{
	font-size:20px;
	margin-right:50px;
	vertical-align:middle;
	}
#header2{
	position:absolute;
	background-color:#000;
	opacity:0.8;
	padding:10px 30px;
	width:100%;
	top:10%;
	right:0px !important;
}

#header2 h2{
	color:#fff;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu";
	font-weight:lighter;}
/*	
#content {
	margin-top:150px;
	border-radius:2px;
	border:1px solid white;
	padding:30px 30px;
	
	
	}


#content h1,p{
	color:#fff;
	
		font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu";
	font-weight:lighter;
	vertical-align:middle;}
.brandtext{
	font-weight:bold; 
	font-size:2em;}
#content p{
	color:#D4B068;}
*/

/*--------------------------------------------------------------------------------------------------*/



/*----------------------------------------------------------------
	3. #about container
  ----------------------------------------------------------------*/
.container-fluid{
	padding:40px 100px;}
#about{
	min-height:650px;
	background-color:#fff;
	z-index:1;
	}
.technology{
	}
#about .first-letter{
	color:#1ABC9C;}
#about h1{
		font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu";
		font-weight:lighter;
		 color:#808080;
		
		}
#about p{
			font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu";
			font-weight:lighter;
			}
.highlight{
	color:#d4b068;
	}

#about h2,h3{
	color:#273746;
				font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu";
				font-weight:lighter;}
#about .steps h3{
	color:#AEB6BF;}
#about .container p{
	color:#99A3A4;}

#about .container{
	padding-top:30px;}
#about .summary{
	border:5px dotted #1ABC9C;
	border-radius:5px;
	margin-top:50px;
	margin-bottom:50px;
	width:50%;}
/*--------------------------------------------------------------
						* PRODUCTS SECTION *
-----------------------------------------------------------------*/


#products{

	background-color:#f6f6f6;
	background:url(../images/1.jpg)  no-repeat fixed;
	background-size:cover;
	z-index:3;
	padding:100px 100px !important;}
#products h1{
	color:#fff;
	font-size:2em;}
#products p{
	color:#fff;
	font-size:16px;
	}
#products hr{
	margin-top:5px;
	margin-bottom:80px;
	width:50%;
	border-color:#765433;}
#products .row .showcase{
	border-radius: 50%;
	height:200px;
	width:200px;
	background-color:#000;
	cursor:pointer;
	margin-left:60px;
	margin-top:30px;
	}
#products .row .showcase .image-text{
	position:absolute;
	top:20%;
	left:30%;
	
	text-align:center;
	z-index:-1;
	
	}
.first-letter{
	
	color:#D4B068;
	font-weight:bolder;
	}
#products .row .showcase .image-text h3{
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu";
	font-size:32px;
	font-weight:lighter;
	color:#fff;}




/*----------------------------------------------------------------
					*	clients section *
------------------------------------------------------------------*/

.container-fluid p{
	font-size:18px;
	}
.container-fluid h2{
	text-transform:uppercase;
	font-size:36px;
	color:#1F3D5C;
	font-weight:lighter;}
#clients{
	min-height:650px;
	background-color:#fff;
	padding:40px 0px;}
#clients .first-letter{
	color:#52BE80  ;}
#clients h1{
	font-size:40px;}
#clients h2{
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu";
		font-weight:lighter;
		font-size:24px;}
#clients p{
		font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu";
		font-weight:lighter;}
		
#clients .carousel{
	background-color:#000;}	
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #AED6F1;
}

.carousel-indicators li {
    border-color: #AED6F1;
}

.carousel-indicators li.active {
    background-color: #AED6F1;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
	color:#fff;
}

.item span {
    font-style: normal;
}



/*-----------------------------------------------------------------
					* CONTACT SECTION *
------------------------------------------------------------------*/

#contact{
	min-height:450px;
	background-color:#EBEDEF;
	padding:50px 60px !important;}
#contact .first-letter{
	color:#2980B9;}
#contact .btn {
	border-radius:2px;
	padding:10px 25px;}

	
	
/*--------------------------------------------------------------------
					     * Footer *
---------------------------------------------------------------------*/

#footer{
	background-image:url(../main-carousal-images/header-bg.png);
	background-attachment:fixed;
		}
#footer .first-letter{
	
	font-weight:lighter;}
#footer h3{
	color:#fff;
		font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu";
		font-weight:lighter;}
#footer hr{
	width:50%;
	border-color:#D4B068;}
#footer .social{
	font-size:36px;
	}
#footer .social a{
	color:#d4b068;
	cursor:pointer;}
#footer .rights p{
		font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu";
		font-size:12px;
}





/*--------------------------------------------------------------
						*  slide animation *
----------------------------------------------------------------*/
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}


/*--------------------------------------------------------------
						*  media properties *
----------------------------------------------------------------*/
@media (min-width:768px){
	
	.jumbotron{
		height:670px;}
	#header1{
		width:55%;
		}
	#header2{
		width:55%;}
	#about h1{
		font-size:50px;}
	#content{
		width:50%;}
	#content h1,p{
		font-size:30px;}
		#products h1{
			font-size:50px;}
	.first-letter{
		font-size:80px;}
	
	
	}

@media (max-width:768px){
	#about .summary{
		width:80%;
		border:2px dotted #1ABC9C}
	}	
@media (max-width:992px){
	
	.first-letter{
		font-size:50px;}
		
	}